.controls {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.controls div  {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    background: none;
    font-weight: bold;
    color: white !important;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}

.controls div:hover  {
    cursor: pointer;
    border: 1px solid white;
}

#parentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    background-color: lightblue;
    margin: auto;
}