header {
    background-color: lightblue;
    color: white;
    text-transform: uppercase;
}

header > h1 {
    text-align: center;
    margin: 0px;
}

.playgroundWrapper {
    text-align: center;
    margin: 10px;
}